# Работа с данными от Mercedes


Чтобы запускать и редактировать код, сохраните копию этого ноутбука себе (File->Save a copy in Drive...). Свою копию вы сможете изменять и запускать.

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Загрузка данных с Google Drive

In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/4/train[1].csv")

In [ ]:
import numpy as np

Отображение загруженных данных

In [ ]:
data

      Id   Open Date        City  City Group  ... P35  P36  P37    revenue
0      0  07/17/1999    İstanbul  Big Cities  ...   4    3    4  5653753.0
1      1  02/14/2008      Ankara  Big Cities  ...   0    0    0  6923131.0
2      2  03/09/2013  Diyarbakır       Other  ...   0    0    0  2055379.0
3      3  02/02/2012       Tokat       Other  ...  12   12    6  2675511.0
4      4  05/09/2009   Gaziantep       Other  ...   4    3    3  4316715.0
..   ...         ...         ...         ...  ...  ..  ...  ...        ...
132  132  06/25/2008     Trabzon       Other  ...   0    0    0  5787594.0
133  133  10/12/2006       İzmir  Big Cities  ...   0    0    0  9262754.0
134  134  07/08/2006     Kayseri       Other  ...   0    0    0  2544857.0
135  135  10/29/2010    İstanbul  Big Cities  ...   0    0    0  7217634.0
136  136  09/01/2009    İstanbul  Big Cities  ...   0    0    0  6363241.0

[137 rows x 43 columns]

In [ ]:
data = data.drop(columns=['Id', 'Open Date'])

In [ ]:
data

           City  City Group Type  P1   P2  ...  P34  P35  P36  P37    revenue
0      İstanbul  Big Cities   IL   4  5.0  ...    5    4    3    4  5653753.0
1        Ankara  Big Cities   FC   4  5.0  ...    0    0    0    0  6923131.0
2    Diyarbakır       Other   IL   2  4.0  ...    0    0    0    0  2055379.0
3         Tokat       Other   IL   6  4.5  ...   18   12   12    6  2675511.0
4     Gaziantep       Other   IL   3  4.0  ...    3    4    3    3  4316715.0
..          ...         ...  ...  ..  ...  ...  ...  ...  ...  ...        ...
132     Trabzon       Other   FC   2  3.0  ...    0    0    0    0  5787594.0
133       İzmir  Big Cities   FC   4  5.0  ...    0    0    0    0  9262754.0
134     Kayseri       Other   FC   3  4.0  ...    0    0    0    0  2544857.0
135    İstanbul  Big Cities   FC   4  5.0  ...    0    0    0    0  7217634.0
136    İstanbul  Big Cities   FC   4  5.0  ...    0    0    0    0  6363241.0

[137 rows x 41 columns]

In [ ]:
subdata = data.iloc[:, 0:3]

In [ ]:
subdata

           City  City Group Type
0      İstanbul  Big Cities   IL
1        Ankara  Big Cities   FC
2    Diyarbakır       Other   IL
3         Tokat       Other   IL
4     Gaziantep       Other   IL
..          ...         ...  ...
132     Trabzon       Other   FC
133       İzmir  Big Cities   FC
134     Kayseri       Other   FC
135    İstanbul  Big Cities   FC
136    İstanbul  Big Cities   FC

[137 rows x 3 columns]

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
subdata_encoded = subdata.apply(le.fit_transform)

In [ ]:
subdata_encoded

     City  City Group  Type
0      31           0     2
1       3           0     1
2      10           1     2
3      28           1     2
4      14           1     2
..    ...         ...   ...
132    29           1     1
133    32           0     1
134    18           1     1
135    31           0     1
136    31           0     1

[137 rows x 3 columns]

In [ ]:
subdata_2 = data.iloc[:, 4:385]

In [ ]:
subdata_2

      P2   P3   P4  P5  P6  P7  P8  ...  P32  P33  P34  P35  P36  P37    revenue
0    5.0  4.0  4.0   2   2   5   4  ...    4    5    5    4    3    4  5653753.0
1    5.0  4.0  4.0   1   2   5   5  ...    0    0    0    0    0    0  6923131.0
2    4.0  2.0  5.0   2   3   5   5  ...    0    0    0    0    0    0  2055379.0
3    4.5  6.0  6.0   4   4  10   8  ...   10    6   18   12   12    6  2675511.0
4    4.0  3.0  4.0   2   2   5   5  ...    3    2    3    4    3    3  4316715.0
..   ...  ...  ...  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...        ...
132  3.0  3.0  5.0   4   2   4   4  ...    0    0    0    0    0    0  5787594.0
133  5.0  4.0  4.0   2   3   5   4  ...    0    0    0    0    0    0  9262754.0
134  4.0  4.0  4.0   2   3   5   5  ...    0    0    0    0    0    0  2544857.0
135  5.0  4.0  5.0   2   2   5   5  ...    0    0    0    0    0    0  7217634.0
136  5.0  3.0  5.0   2   2   5   4  ...    0    0    0    0    0    0  6363241.0

[137 rows x 37 columns]

In [ ]:
subdata_encoded.reset_index(drop=True, inplace=True)
subdata_2.reset_index(drop=True, inplace=True)

In [ ]:
data_2 = pd.concat([subdata_encoded, subdata_2], axis = 1)

In [ ]:
data_2

     City  City Group  Type   P2   P3   P4  ...  P33  P34  P35  P36  P37    revenue
0      31           0     2  5.0  4.0  4.0  ...    5    5    4    3    4  5653753.0
1       3           0     1  5.0  4.0  4.0  ...    0    0    0    0    0  6923131.0
2      10           1     2  4.0  2.0  5.0  ...    0    0    0    0    0  2055379.0
3      28           1     2  4.5  6.0  6.0  ...    6   18   12   12    6  2675511.0
4      14           1     2  4.0  3.0  4.0  ...    2    3    4    3    3  4316715.0
..    ...         ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...        ...
132    29           1     1  3.0  3.0  5.0  ...    0    0    0    0    0  5787594.0
133    32           0     1  5.0  4.0  4.0  ...    0    0    0    0    0  9262754.0
134    18           1     1  4.0  4.0  4.0  ...    0    0    0    0    0  2544857.0
135    31           0     1  5.0  4.0  5.0  ...    0    0    0    0    0  7217634.0
136    31           0     1  5.0  3.0  5.0  ...    0    0    0    0    0  6363241.0

[137 rows x 40 columns]

In [ ]:
# Среднее значение
mymean = data_2.mean(axis=0)
# Стандартное отклонение
mystd = data_2.std(axis=0)
data_2 -= mymean
data_2 /= mystd
data_2

         City  City Group     Type  ...       P36       P37   revenue
0    0.877538   -0.866539  1.11294  ...  0.189127  1.610042  0.465911
1   -1.491383   -0.866539 -0.84184  ... -0.530606 -0.623637  0.958668
2   -0.899152    1.145593  1.11294  ... -0.530606 -0.623637 -0.930934
3    0.623725    1.145593  1.11294  ...  2.348327  2.726882 -0.690207
4   -0.560735    1.145593  1.11294  ...  0.189127  1.051623 -0.053111
..        ...         ...      ...  ...       ...       ...       ...
132  0.708330    1.145593 -0.84184  ... -0.530606 -0.623637  0.517867
133  0.962142   -0.866539 -0.84184  ... -0.530606 -0.623637  1.866882
134 -0.222318    1.145593 -0.84184  ... -0.530606 -0.623637 -0.740925
135  0.877538   -0.866539 -0.84184  ... -0.530606 -0.623637  1.072991
136  0.877538   -0.866539 -0.84184  ... -0.530606 -0.623637  0.741326

[137 rows x 40 columns]

In [ ]:
ydata = data.iloc[:, 40]

In [ ]:
ydata

0      5653753.0
1      6923131.0
2      2055379.0
3      2675511.0
4      4316715.0
         ...
132    5787594.0
133    9262754.0
134    2544857.0
135    7217634.0
136    6363241.0
Name: revenue, Length: 137, dtype: float64

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data_2, ydata, test_size=0.33, random_state=42)

In [ ]:
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(128, activation='relu'))
model.add(Dense(512, activation='relu'))
model.add(Dense(1))

In [ ]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                1312
_________________________________________________________________
dense_1 (Dense)              (None, 128)               4224
_________________________________________________________________
dense_2 (Dense)              (None, 512)               66048
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 513
=================================================================
Total params: 72,097
Trainable params: 72,097
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [ ]:
model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split = 0.2, verbose=2)

Epoch 1/20
3/3 - 1s - loss: 22927057616896.0000 - mae: 4255850.0000 - val_loss: 31622543966208.0000 - val_mae: 4813688.5000
Epoch 2/20
3/3 - 0s - loss: 22927047131136.0000 - mae: 4255849.5000 - val_loss: 31622529286144.0000 - val_mae: 4813687.0000
Epoch 3/20
3/3 - 0s - loss: 22927040839680.0000 - mae: 4255848.5000 - val_loss: 31622516703232.0000 - val_mae: 4813685.5000
Epoch 4/20
3/3 - 0s - loss: 22927030353920.0000 - mae: 4255847.0000 - val_loss: 31622497828864.0000 - val_mae: 4813683.5000
Epoch 5/20
3/3 - 0s - loss: 22927013576704.0000 - mae: 4255846.0000 - val_loss: 31622470565888.0000 - val_mae: 4813681.5000
Epoch 6/20
3/3 - 0s - loss: 22926994702336.0000 - mae: 4255842.5000 - val_loss: 31622434914304.0000 - val_mae: 4813677.5000
Epoch 7/20
3/3 - 0s - loss: 22926963245056.0000 - mae: 4255839.5000 - val_loss: 31622384582656.0000 - val_mae: 4813673.0000
Epoch 8/20
3/3 - 0s - loss: 22926927593472.0000 - mae: 4255834.5000 - val_loss: 31622321668096.0000 - val_mae: 4813666.0000
Epoch 9/20
3/3 - 0s - loss: 22926877261824.0000 - mae: 4255829.5000 - val_loss: 31622233587712.0000 - val_mae: 4813657.5000
Epoch 10/20
3/3 - 0s - loss: 22926805958656.0000 - mae: 4255821.5000 - val_loss: 31622120341504.0000 - val_mae: 4813646.5000
Epoch 11/20
3/3 - 0s - loss: 22926717878272.0000 - mae: 4255811.0000 - val_loss: 31621979832320.0000 - val_mae: 4813632.0000
Epoch 12/20
3/3 - 0s - loss: 22926602534912.0000 - mae: 4255798.0000 - val_loss: 31621784797184.0000 - val_mae: 4813612.5000
Epoch 13/20
3/3 - 0s - loss: 22926453637120.0000 - mae: 4255781.0000 - val_loss: 31621537333248.0000 - val_mae: 4813587.5000
Epoch 14/20
3/3 - 0s - loss: 22926254407680.0000 - mae: 4255758.0000 - val_loss: 31621222760448.0000 - val_mae: 4813555.0000
Epoch 15/20
3/3 - 0s - loss: 22926013235200.0000 - mae: 4255729.5000 - val_loss: 31620828495872.0000 - val_mae: 4813514.5000
Epoch 16/20
3/3 - 0s - loss: 22925711245312.0000 - mae: 4255694.0000 - val_loss: 31620337762304.0000 - val_mae: 4813464.0000
Epoch 17/20
3/3 - 0s - loss: 22925314883584.0000 - mae: 4255648.0000 - val_loss: 31619729588224.0000 - val_mae: 4813401.5000
Epoch 18/20
3/3 - 0s - loss: 22924828344320.0000 - mae: 4255593.0000 - val_loss: 31618980904960.0000 - val_mae: 4813323.0000
Epoch 19/20
3/3 - 0s - loss: 22924257918976.0000 - mae: 4255524.0000 - val_loss: 31618062352384.0000 - val_mae: 4813227.5000
Epoch 20/20
3/3 - 0s - loss: 22923532304384.0000 - mae: 4255440.0000 - val_loss: 31616946667520.0000 - val_mae: 4813110.5000

In [ ]:
pred = model.predict(X_test)

In [ ]:
print(pred)

[[ 603.14355]
 [ 292.2789 ]
 [ 375.34958]
 [ 213.79749]
 [ 569.9617 ]
 [ 495.66196]
 [1640.5409 ]
 [1356.2651 ]
 [ 440.63016]
 [ 427.39252]
 [ 295.61816]
 [ 596.0528 ]
 [ 443.38358]
 [ 488.95865]
 [ 209.5282 ]
 [ 900.8148 ]
 [ 511.88788]
 [ 471.87177]
 [ 448.46237]
 [ 297.894  ]
 [1283.1427 ]
 [ 266.38562]
 [ 392.57422]
 [ 453.01462]
 [ 269.36237]
 [ 476.98734]
 [ 647.9682 ]
 [ 321.81314]
 [ 908.2427 ]
 [ 491.13416]
 [ 364.6231 ]
 [ 244.9596 ]
 [ 326.84055]
 [ 467.08127]
 [ 447.281  ]
 [ 150.29184]
 [ 335.92114]
 [ 240.30225]
 [1060.2928 ]
 [ 208.40872]
 [ 244.86081]
 [ 328.52475]
 [1111.5686 ]
 [1295.7102 ]
 [ 210.50479]
 [ 283.69705]]

In [ ]:
print("Предсказанное время:", pred[12], ", истинное время:", y_test[12])

Предсказанное время: [443.38358] , истинное время: 1734634.0

In [ ]:
y_test = y_test.reset_index(drop=True)
diff = np.array([])

for i in np.arange(0, len(y_test)):
    diff = np.append(diff, np.abs(pred[i][0] - y_test[i]))

In [ ]:
np.sort(diff)[-15:-1]

array([4779323.8572998 , 4881628.73486328, 4951354.18518066,
       5161125.04040527, 5286003.59127808, 5337204.18685913,
       5434764.11212158, 5653512.69775391, 5787145.53762817,
       6836238.13919067, 7494664.60748291, 8903755.47525024,
       9262313.36984253, 9651873.01266479])

In [ ]:
data = pd.read_csv("/content/drive/My Drive/4/train[1].csv")

In [ ]:
data

      Id   Open Date        City  City Group  ... P35  P36  P37    revenue
0      0  07/17/1999    İstanbul  Big Cities  ...   4    3    4  5653753.0
1      1  02/14/2008      Ankara  Big Cities  ...   0    0    0  6923131.0
2      2  03/09/2013  Diyarbakır       Other  ...   0    0    0  2055379.0
3      3  02/02/2012       Tokat       Other  ...  12   12    6  2675511.0
4      4  05/09/2009   Gaziantep       Other  ...   4    3    3  4316715.0
..   ...         ...         ...         ...  ...  ..  ...  ...        ...
132  132  06/25/2008     Trabzon       Other  ...   0    0    0  5787594.0
133  133  10/12/2006       İzmir  Big Cities  ...   0    0    0  9262754.0
134  134  07/08/2006     Kayseri       Other  ...   0    0    0  2544857.0
135  135  10/29/2010    İstanbul  Big Cities  ...   0    0    0  7217634.0
136  136  09/01/2009    İstanbul  Big Cities  ...   0    0    0  6363241.0

[137 rows x 43 columns]

In [ ]:
data = data.dropna(axis = 'columns')

In [ ]:
data

      Id   Open Date        City  City Group  ... P35  P36  P37    revenue
0      0  07/17/1999    İstanbul  Big Cities  ...   4    3    4  5653753.0
1      1  02/14/2008      Ankara  Big Cities  ...   0    0    0  6923131.0
2      2  03/09/2013  Diyarbakır       Other  ...   0    0    0  2055379.0
3      3  02/02/2012       Tokat       Other  ...  12   12    6  2675511.0
4      4  05/09/2009   Gaziantep       Other  ...   4    3    3  4316715.0
..   ...         ...         ...         ...  ...  ..  ...  ...        ...
132  132  06/25/2008     Trabzon       Other  ...   0    0    0  5787594.0
133  133  10/12/2006       İzmir  Big Cities  ...   0    0    0  9262754.0
134  134  07/08/2006     Kayseri       Other  ...   0    0    0  2544857.0
135  135  10/29/2010    İstanbul  Big Cities  ...   0    0    0  7217634.0
136  136  09/01/2009    İstanbul  Big Cities  ...   0    0    0  6363241.0

[137 rows x 43 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

In [ ]:
data.dtypes

Id              int64
Open Date      object
City           object
City Group     object
Type           object
P1              int64
P2            float64
P3            float64
P4            float64
P5              int64
P6              int64
P7              int64
P8              int64
P9              int64
P10             int64
P11             int64
P12             int64
P13           float64
P14             int64
P15             int64
P16             int64
P17             int64
P18             int64
P19             int64
P20             int64
P21             int64
P22             int64
P23             int64
P24             int64
P25             int64
P26           float64
P27           float64
P28           float64
P29           float64
P30             int64
P31             int64
P32             int64
P33             int64
P34             int64
P35             int64
P36             int64
P37             int64
revenue       float64
dtype: object

In [ ]:
data_object = data.select_dtypes(include=[object])
data_object

      Open Date        City  City Group Type
0    07/17/1999    İstanbul  Big Cities   IL
1    02/14/2008      Ankara  Big Cities   FC
2    03/09/2013  Diyarbakır       Other   IL
3    02/02/2012       Tokat       Other   IL
4    05/09/2009   Gaziantep       Other   IL
..          ...         ...         ...  ...
132  06/25/2008     Trabzon       Other   FC
133  10/12/2006       İzmir  Big Cities   FC
134  07/08/2006     Kayseri       Other   FC
135  10/29/2010    İstanbul  Big Cities   FC
136  09/01/2009    İstanbul  Big Cities   FC

[137 rows x 4 columns]

In [ ]:
data_int = data.select_dtypes(include=[np.number])
data_int

      Id  P1   P2   P3   P4  P5  P6  ...  P32  P33  P34  P35  P36  P37    revenue
0      0   4  5.0  4.0  4.0   2   2  ...    4    5    5    4    3    4  5653753.0
1      1   4  5.0  4.0  4.0   1   2  ...    0    0    0    0    0    0  6923131.0
2      2   2  4.0  2.0  5.0   2   3  ...    0    0    0    0    0    0  2055379.0
3      3   6  4.5  6.0  6.0   4   4  ...   10    6   18   12   12    6  2675511.0
4      4   3  4.0  3.0  4.0   2   2  ...    3    2    3    4    3    3  4316715.0
..   ...  ..  ...  ...  ...  ..  ..  ...  ...  ...  ...  ...  ...  ...        ...
132  132   2  3.0  3.0  5.0   4   2  ...    0    0    0    0    0    0  5787594.0
133  133   4  5.0  4.0  4.0   2   3  ...    0    0    0    0    0    0  9262754.0
134  134   3  4.0  4.0  4.0   2   3  ...    0    0    0    0    0    0  2544857.0
135  135   4  5.0  4.0  5.0   2   2  ...    0    0    0    0    0    0  7217634.0
136  136   4  5.0  3.0  5.0   2   2  ...    0    0    0    0    0    0  6363241.0

[137 rows x 39 columns]